@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css */
@layer utilities {
  .overflow-x-hidden-mobile {
    @apply overflow-x-hidden;
  }
  @media (min-width: 640px) {
    .overflow-x-hidden-mobile {
      @apply overflow-x-visible;
    }
  }
}

.sticky-cursor {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: transform 0.1s ease, background 0.2s ease;
  background: radial-gradient(
    circle at center,
    rgba(85, 87, 150, 1),
    rgba(33, 25, 101, 1),
    rgba(44, 47, 47, 0.9047268565629377),
    rgba(30, 92, 38, 0.8066876408766632)
  );
}

.gradient-bg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 2%,
    rgba(26, 27, 51, 1) 30%,
    rgba(19, 14, 59, 1) 58%,
    rgba(24, 18, 34, 1) 98%
  );
  position: relative;
  background-size: cover;
}

@media (max-width: 640px) {
  .overflow-x-hidden-mobile {
    overflow-x: hidden;
  }
}
